name: Publish to BCR

on:
  release:
    types: [published]

jobs:
  publish:
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.0.0
    with:
      tag_name: ${{ github.event.release.tag_name }}
      registry_fork: MrAMS/bazel-central-registry
      attest: false
    permissions:
      contents: write
    secrets:
      publish_token: ${{ secrets.CI_PAT_TOKEN }}
