name: Monthly Sync

on:
  schedule:
    - cron: "0 0 1 * *" # 每月 1 号运行
  workflow_dispatch: # 手动触发按钮
    inputs:
      force_release:
        description: "Force release even if no changes?"
        type: boolean
        default: false

jobs:
  call-central-sync:
    uses: MrAMS/bazel-central-registry-ci-templates/.github/workflows/sync-logic.yml@main
    with:
      upstream_url: "https://github.com/ip7z/7zip.git"
      force_release: ${{ inputs.force_release || false }}
    secrets:
      token: ${{ secrets.CI_PAT_TOKEN }}
